nbproject/
test.php
core/config/common.config.php
plugins
sftp-config.json
.project
composer.phar
vendor
external/rclone/rclone
external/rclone_windows/jeedom-rclone-configurator.zip
external/rclone_mac/jeedom-rclone-configurator.zip
